:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #ffffff;
  --secondary-light-color: #ffffffbf;
  --shadow-color: #ffffff40;
  --primary-color: #ae7aff;
}

html,
body,
app-root {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "JetBrains Mono", monospace !important;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
dataset,
select,
textarea {
  all: unset;
}

ul {
  list-style: none;
}

a,
button {
  all: unset;
  cursor: pointer;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input[list] {
  -moz-appearance: none;
  appearance: none;
}
