:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #ffffff;
  --secondary-light-color: #ffffffbf;
  --shadow-color: #ffffff40;
  --primary-color: #ae7aff;
  --primary-green-color: #98e9ab;
}

html,
body,
app-root {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "JetBrains Mono", monospace !important;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
dataset,
select,
textarea {
  all: unset;
}

ul {
  list-style: none;
}

a,
button {
  all: unset;
  cursor: pointer;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input[list] {
  -moz-appearance: none;
  appearance: none;
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8c52ff;
}

::-webkit-scrollbar-button {
  display: none;
}
